body {
  background-color: black;
  text-align: center;
}

header {
  background-image: url("../images/logo.jpg");
  background-size: 250px;
  background-position: left;
  background-repeat: no-repeat;
  border-style: inset;
  border-color: black;
}

img {
  display: inline;
  margin: 50px;
  margin-top: 100px;
}

a {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: white;
  margin: auto;
  font-size: 50px;
}

a:active {
  color: red;
}

li {
  display: inline;
}
.the_witcher{
  display: inline;
}
.other{
  text-align: left;
  margin-left: 270px;
}